*

#header
{
    background:	#28004D;
    min-width: 1000px;
}
#top
{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 130px;

}
/**logo **/

.log 
{
    color: 	#DCB5FF;
    font-size: 30px;
    list-style: none;
   padding-top: 15px;
   font-family: 宋体;
   letter-spacing: 5px;
   margin: 0 0 -10px -630px;
   text-align: center;

}
.beat-char {
    position: relative;
    display: inline-block;
    background: transparent;
}
.rotate{
    transform:rotate(360deg) ;
    -ms-transform:rotate(360deg);   /* IE 9 */
    -moz-transform:rotate(360deg);  /* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
    -o-transform:rotate(360deg);
    -webkit-transition-duration: 0.7s;
    
}
/**search **/
#searchbox
{
    display: inline-block;
    overflow: hidden;
    
    float: right;
    border-radius: 2px;
    background: #fff;
    border: #dbdbdb 1px solid;
}
#searchbox .textfield
{
    color: #CA8EFF;
    width: 220px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    background: #fff;
    color:#CA8EFF;
    font-size: 12px;
    border-left: #dbdbdb 1px solid;
}
#searchbox .button
{
    width: 70px;
    height: 24px;
    vertical-align: middle;
    line-height: 24px;
    cursor: pointer;
    border: none;
    background: #fff;
    color: #CA8EFF;
    font-size: 17px;
    border-left:#d3a4ff 1px solid;
}
#searchbox .searchtip
{
    color:#CA8EFF;
    background: #FDFDFD;
}

/**header navi **/
.wrap
{
    width: 1000px;
    margin:0 auto;
    height: 45px;
    line-height: 45px;

}
.nav
{
    
    box-shadow: 0 2px 0 #e9e9e9;
    margin:0 auto;
    border-top: 1px #3A006F solid;
}
.navmenu
{
    margin:0 auto;
    width: 1000px;
}

.nav ul.menu li
{
   
    line-height: 45px;
    font-size: 24px;
    list-style: none;
    padding: 0;
    margin:0 auto;
    float: left;
}
.nav ul.menu li a
{
    color:#CA8EFF;
    display: inline-block;
    width:0 auto;
    padding: 0 21px;
    text-align: center;
    text-decoration: none;
    font-family: 宋体;
    
    
}
.nav_hover a,.nav ul.menu li.current-menu-item a,.nav ul.menu li.current-menu-parent a,.nav ul.menu  li .current,.nav ul.menu  li a:hover,.nav ul.menu  li:hover a
{
    background:	#3A006F !important;
    color: #CA8EFF !important;
    text-decoration:none;
}
/** container **/
#container
{
   background: #28004D;
   min-width: 1000px;
   
   margin: 0 auto;
   border-top:1px #3A006F solid;
   
}
/** footer **/
#footer
{
    clear: both;
    color: #CA8EFF;
    background: #28004D;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
    border-top: 1px #3A006F solid;
    

}
#footer a
{
     color: #CA8EFF;

}
.copyright
{
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0 15px;
}
